@import '/src/assets/css/variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: $body-font-size;

  color: $white;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  scroll-behavior: smooth;
}

#root {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

// .visually-hidden {
//   position: absolute;
//   width: 1px;
//   height: 1px;
//   margin: -1px;
//   padding: 0;
//   overflow: hidden;
//   white-space: nowrap;
//   border: 0;
//   clip: rect(0 0 0 0);
//   clip-path: inset(100%);
// }

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
}

a {
  text-decoration: none;
}

input {
  outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
  appearance: 'textfield';
}

button {
  font-family: inherit;
  background: none;
  border: none;
  cursor: pointer;
}
