@import '/src/assets/css/variables';
@import '/src/assets/css/mixins.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  align-items: flex-start;
  border: 1px solid $gray;
  border-radius: 20px;
  padding: 2rem;
}

.choose {
  display: flex;
  flex-direction: column;
  align-items: baseline;

  @include small-laptop {
    flex-direction: row;
  }
}

.select {
  display: flex;
  align-items: center;
  gap: 15px;
}

.input {
  border: none;
  font-size: 26px;
  width: 100%;


  &:focus {
    border-bottom: 1px solid $gray;
  }

  &::placeholder {
    font-size: 20px;
    color: $gray;
  }
}
